.task_item {
    padding: 16px 32px;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: #000;
    position: relative;
    border-radius: 24px;
}

.task_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.task_item textarea {
    width: 100%;
}

.task_item h3 {
    font-weight: 400;
    font-size: 32px;
    color: #000;
}

.task_item > :is(p, span) {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.task_item .ingredients {
    color: rgba(0, 0, 0);
    margin: 18px 0;
}

.task_item .data_list {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0;
}

.data_container {
    display: flex;
    flex-direction: column;
}