.recipeListBlock {
    margin-top: 2em;
    margin-right: 2em;
}

.recipeListBlock header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125em;
    gap: 1em;
}

.recipeListBlock header h1 {
    font-weight: 600;
    font-size: 2em;
    text-wrap: nowrap;
}

.header_right {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: end;
}

.header_right button {
    background: transparent;
}

.recipeList {
    margin-left: 1.125em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

@media screen and (max-width: 1601px) {
    .recipeListBlock header h1 {
        font-weight: 600;
        font-size: 1.625em;
    }

    .header_right {
        display: flex;
        gap: 2em;
    }

    .recipeList {
        margin-left: 18px;
        display: flex;
        flex-direction: column;
        gap: 1.125em;
    }
}