.form_search_recipe {
    width: max(400px, 100%);
}

.form_search_recipe p {
    font-weight: 400;
    font-size: 1.5em;
    color: #000;
}

.search_input::placeholder {
    color: rgba(33, 33, 33, 0.7);
}

.search_bar button {
    background: transparent;
}

.search_bar button img {
    height: 2em;
    width: 2em;
}

.search_bar button:hover img,
.search_bar button:active img {
    filter: invert(43%) sepia(40%) saturate(5736%) hue-rotate(158deg) brightness(99%) contrast(85%);
}

.search_bar {
    width: 100%;
    box-shadow: 0.125em 0.375em 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    padding: 0 1em 0 0.75em;
    border: 1px solid #40404010;

    display: flex;
    gap: 0.25em;
}

.search_input {
    width: 100%;
    padding: 0 0.83em;

    font-weight: 400;
    font-size: 1.5em;
    color: rgba(33, 33, 33, 0.7);

    height: 1.33em;
    position: relative;
}


@media screen and (max-width: 1601px) {
    .form_search_recipe {
        width: max(18.75em, 80%);
    }

    .search_input {
        width: 100%;
        padding: 0 0.9em;

        font-weight: 400;
        font-size: 1.125em;
        color: rgba(33, 33, 33, 0.7);

        height: 1.77em;
        position: relative;
    }

    .search_bar button img {
        height: 1.5em;
        width: 1.5em;
    }
}