.recipeBlock {
    padding-bottom: 0.875em;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.75em;
}

.recipe:hover,
.recipe:active {
    background: #27b53c;
}

.recipe:hover *,
.recipe:active * {
    color: #F1F1F1;
}

.recipeBlock::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(1px);
}

.top {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.separator {
    display: block;
    min-height: 1.25em;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.6);
    filter: blur(2px);
}

.title {
    font-weight: 600;
    font-size: 2em;
}

.category {
    font-weight: 400;
    font-size: 1.25em;
    color: #000;
}

.recipePeopleBlock {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.recipeTimeBlock {
    display: flex;
}

.time_text {
    font-weight: 400;
    font-size: 1em;
}

.time_bottom_text {
    font-weight: 500;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    line-height: 25%;
}

.descriptionBlock p {
    font-weight: 400;
    font-size: 1.25em;
}

@media screen and (max-width: 1601px) {
    .title {
        font-size: 1.5em;
    }

    .category {
        font-size: 1em;
    }

    .descriptionBlock p {
        font-weight: 400;
        font-size: 1em;
    }
}