.panel {
    position: sticky;
    min-height: 100vh;
    padding: 6.25em 2.625em 10em 2.625em;
    background: #ededed;
    max-width: 100%;

    top: 0;
}

.panel h2 {
    width: fit-content;

    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    padding: 0.2em 0.35em;
    border: 1px solid transparent;
    border-radius: 1em;

    margin-bottom: 0.25em;
}

.panel h2.selected {
    border: 1px solid #27b53c;
}

.panel h2:active {
    background: #27b53c;
    color: white;
}

.sub_categories {
    --margin-left: 1.5em;
    margin-left: var(--margin-left);

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sub_categories p {
    font-weight: 400;
    font-size: 1.5em;
    cursor: pointer;
    min-width: 10em;

    padding: 0.375em 0.1em;
    background: transparent;
    border-radius: 0.5em 0.5em 0 0;
}

.sub_categories p.selected {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(39, 181, 60, 0.2) 100%);
}

.sub_categories p:active {
    background: #27b53c;
    color: white;
}

.sub_categories p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1601px) {
    .panel h2 {
        font-size: 1.5em;
    }

    .sub_categories {
        --margin-left: 1.5em;
    }

    .sub_categories p {
        font-size: 1.5em;
    }

    .panel {
        padding: 4.625em 1.5em 10em 1.5em;
    }
}