.filterView {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 1000;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.filterPanel {
    position: relative;
    background: white;
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 35em;
    animation: showFilter .5s;
    z-index: 10000;

    padding: 3em 2em;
}

.filterPanel h2 {
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-bottom: 0.5em;
}

.filterPanel h3 {
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-bottom: 0.5em;
}

.filterList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.filterList * {

}

@keyframes showFilter {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0px);
    }
}
