.recipeListBlock {
    margin-top: 2em;
    margin-bottom: 6em;
    margin-right: 1em;
}

.recipeListBlock header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2em;
    gap: 1em;
    align-items: center;
}

.recipeListBlock header h1 {
    font-weight: 600;
    font-size: 2em;
    text-wrap: nowrap;
}

.header_right {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: end;
}

.header_right button {
    background: transparent;
}

.header_right button:hover svg,
.header_right button:active svg,
.header_right button:focus svg {
    filter: invert(50%) sepia(90%) saturate(507%) hue-rotate(78deg) brightness(95%) contrast(83%);
}

.recipeList {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

@media screen and (max-width: 2601px) {
    .recipeListBlock header h1 {
        font-weight: 600;
        font-size: 1.625em;
    }

    .header_right {
        display: flex;
        gap: 2em;
    }

    .recipeList {
        display: flex;
        flex-direction: column;
        gap: 1.125em;
    }
}