* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    transition: all .2s ease;
    position: relative;
    color: #404040;
}

html {
    font-size: max(1em, 1vw);
}

body {
    background-color: #fff;
}

button, input, textarea {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

:root {
    --font-family: "Inter", sans-serif;
}

/*input[type="number"]::-webkit-outer-spin-button,*/
/*input[type="number"]::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*}*/

/*input[type='number'],*/
/*input[type="number"]:hover,*/
/*input[type="number"]:focus {*/
/*    appearance: none;*/
/*    -moz-appearance: textfield;*/
/*}*/