div .NativePanel {
    position: absolute;
    display: block;
    background: unset;
    padding: 48px 24px 24px 24px;
    top: 0;
    bottom: unset;
    width: 100%;
    height: unset;
    backdrop-filter: unset;
}

div .Bubble {
    display: none;
}

div .NativePanel__textInputs {
    margin-left: 0;
    margin-top: 16px;
}

div .NativePanel__textInputs :is(.TextInput, .SuggestsSuggest) {
    font-size: 1.1em;
    color: black;
    width: 100%;
}

div .NativePanel__textInputs .Suggests {
    top: unset !important;
}

div .NativePanel__textInputs .SuggestsSuggest {
    padding-left: 0;
    margin-top: 4px;
}

div .NativePanel__textInputs .Suggests * {
    color: black;
}

