div .NativePanel {
    position: fixed;
    bottom: 0;
    top: unset;
    z-index: 1;

    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 1em;

    width: 60%;
    height: unset;
    padding: 0 0 24px 24px;

    background: unset;
    backdrop-filter: unset;
}

div .Bubble {
    display: none;
}

div .NativePanel__textInputs {
    margin-left: 0;
    margin-top: 16px;
}

div .NativePanel__textInputs :is(.TextInput, .SuggestsSuggest) {
    color: black;
}

div .NativePanel .NativePanel__textInputs .Suggests {
    top: unset !important;
    display: flex;
    flex-direction: column;
    width: fit-content;

    position: relative !important;
    left: unset !important;
    right: unset !important;
    transform: unset !important;
}

div .NativePanel__textInputs .SuggestsSuggest {
    width: fit-content;
    margin-top: 4px;

    padding: 0.5em;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 1);
}

div .NativePanel__textInputs .SuggestsSuggest:hover {
    color: white;
    background: #27b53c;
}

div .NativePanel__textInputs .Suggests * {
    color: white;
}

